<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
    <md-tab label="{{ 'Personal Info' | translate }}">
        <guest-personal-info user="user" index="0"></guest-personal-info>
    </md-tab>
    <md-tab label="{{ 'Social Networks' | translate }}">
        <guest-social-info user="user" index="1"></guest-social-info>
    </md-tab>
    <md-tab label="{{ 'Interests' | translate }}">
        <guest-interests user="user" index="2"></guest-interests>
    </md-tab>
    <md-tab label="{{ 'Review/Save' | translate }}">
        <guest-review-data user="user" index="3"></guest-review-data>
    </md-tab>
</md-tabs>

<div layout="row" flex="100" layout-align="end">
    <md-button class="md-icon-button" aria-label="Go Back" ng-click="goBack()">
        <md-icon md-font-set="material-icons">arrow_back</md-icon>
    </md-button>

    <md-button class="md-icon-button" aria-label="Next" ng-click="goForward()" ng-show="selectedIndex != 3">
        <md-icon md-font-set="material-icons">arrow_forward</md-icon>
    </md-button>

    <md-button class="md-icon-button" aria-label="Save" ng-click="save()" ng-show="selectedIndex == 3">
        <md-icon md-font-set="material-icons">save</md-icon>
    </md-button>
</div>